.animation__LoadingContainer {
  position: absolute;
  grid-area: loginInput;
}

.animation__DotsContainer {
  width: auto;
  height: 22px;
  grid-area: loginInput;
  overflow: visible;
}

.animation__LoadingContainer {
  height: 65%;
  width: 80%;
  background-color: rgb(247, 242, 242);
  opacity: 90%;
}
