.animation__LoadingContainer {
  position: absolute;
  grid-area: loginInput;
}

.animation__DotsContainer {
  width: auto;
  height: 22px;
  grid-area: loginInput;
  overflow: visible;
  position: relative;
  left: 5px;
  top: 2px;
}

.animation__LoadingContainer {
  height: 100%;
  width: 100%;
  background-color: rgb(247, 248, 253);
  opacity: 0.9;
  z-index: 1;
}

@media (min-width: 375px) {
  .animation__LoadingContainer {
    float: left;
    position: absolute;
    left: 0px;
  }
}
