#loginImage {
  display: none;
  visibility: visible;
  width: 700px;
  height: 500px;
  position: relative;

  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

#loginImage.fade {
  opacity: 0;
}

.image__container {
  display: none;
  grid-area: image;
  overflow: hidden;
  height: 500px;
  margin: auto 0;
  max-width: 700px;
  position: relative;
}

@media (min-width: 640px) {
  #loginImage {
    display: inline-block;
    width: 350px;
    height: 250px;
    position: relative;
  }
  .image__container {
    display: inline-block;
    width: 350px;
    height: 250px;
    position: relative;
    bottom: 50px;
  }
}

@media (min-width: 768px) {
  #loginImage {
    width: 400px;
    height: 350px;
  }
  .image__container {
    width: 400px;
    height: 350px;

    bottom: 50px;
    left: 30px;
  }
}

@media (min-width: 1024px) {
  #loginImage {
    width: 550px;
    height: 400px;
  }
  .image__container {
    width: 550px;
    height: 400px;

    bottom: 20px;
    left: 30px;
  }
}
