#loginImage {
  display: inline-block;
  visibility: visible;
  width: 700px;
  height: 500px;
  /* min-width: 800px; */
  position: relative;

  left: 0;
}

.image__container {
  grid-area: image;
  overflow: hidden;
  height: 500px;
  margin: auto 0;
  max-width: 800px;
}
