.inputForm__container {
  text-align: start;
  line-height: 40px;
}
#inputBox {
  border-radius: 5px;
  width: 97%;
  height: 37px;
  border: 1px solid rgb(202, 206, 233);
  outline-color: rgb(118, 83, 243);
}

.inputForm__text {
  font-family: Mulish Black;
  font-size: 0.9rem;
  font-weight: 600;
}

#forgotPassword__text {
  font-family: Mulish Black;
  color: rgb(118, 83, 243);
  font-size: 0.8rem;
  font-weight: 800;
}

@media (min-width: 375px) {
  #inputBox {
    height: 33px;
  }
  .inputForm__text {
    font-size: 0.8rem;
  }
  #forgotPassword__text {
    font-size: 0.6rem;
  }
}
