.loginText__container {
  display: flex;
  flex-direction: column;
}

#login_header {
  font-family: Mulish Black;
  font-weight: 900;
  font-size: 1.7rem;
  color: rgb(118, 83, 243);
}
#login_instructions {
  font-family: Mulish Black;
  font-weight: 600;
  font-size: 0.72rem;
}
.loginText__container span {
  text-align: start;
}
