@font-face {
  font-family: 'Mulish Black';
  src: url('./assets/Mulish/Mulish-VariableFont_wght.ttf') format('woff');
  font-weight: 100 1000;
}

.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-areas: 'login image';
}

@media (min-width: 375px) {
}
